@font-face {
    font-family: 'Inter';
    src: url('/assets/font-Inter/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/font-Inter/Inter_24pt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    color: white;
    font-size: 14px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1ch;
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
}

.profile-body{
    padding: clamp(20px, 5vw, 70px);
    background-color: hsl(0, 0%, 12%);
    border-radius: 20px;
}

.profile{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.profile-pic{
    width: 100px;
    border-radius: 50%;
    margin-block-end: 1rem;
}

.profile > h1{
    margin-block-end: .5rem;
}

.profile > h3{
    color: hsl(75, 94%, 57%);
    margin-block-end: 30px;
}

.profile-links-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 1rem;
    
}

.profile-links-btns a{
    display: block;
    width: 100%;
    padding: 15px clamp(30px, 10vw, 90px);
    margin: 10px;
    text-align: center;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border-radius: 5px;
    font-weight: 700;
    transition: background-color 600ms ease-in-out, transform 600ms ease-in-out, color 600ms ease;
}



@media (max-width: 600px) {
    .profile-body {
        padding: 20px 15px;
    }

    .profile > h1 {
        font-size: 1.5rem;
    }
}

@media (hover: hover) {
    .profile-links-btns a:hover{
        background-color: hsl(75, 94%, 57%);
        transform: translateY(-3px);
        color: black;
    }
}